# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# vs files
*.sln
*.vcxproj
*.vcxproj.filters
CPackSourceConfig.cmake
CPackConfig.cmake
cmake_install.cmake
CMakeDoxygenDefaults.cmake
CMakeCache.txt


# misc
*.in

# build folders
bin/
out/
.vs/
.git/
build/
_deps/

# Mono Folder
dep/vendor/mono/
# Negation
!tools/
!tools/*
!tools/bin/
!tools/bin/*